.navbar {
  background-color: #2b7a77 !important;
}

.navbar li a {
  color: #def2f1 !important;
}

.navbar li a:hover {
  color: #ffffff !important;
}

.navbar li a:active {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
}
