body {
  background-color: #ffffff;
}

h1 {
  color: #2b7a77;
}

h4 {
  color: #2b7a77;
}
h4 a {
  color: #2b7a77;
}
h4 a:hover {
  color: #3aafa9;
}
h4 a:active {
  color: #3aafa9;
}

.btn:focus,
.btn:active,
.btn:hover {
  outline: none !important;
  box-shadow: none !important;
}

.col-md-9 .card img {
  width: 100%;
  max-height: 600px;
  background-size: cover;
}

.col-md-3 .card img {
  max-height: 250px;
}

.jumbotron {
  background-color: #def2f1;
}

#delete-form {
  display: inline;
}

.card {
  background-color: #ffffff;
}

.card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.bg-lgreen {
  background-color: #def2f1;
}
.bg-green {
  background-color: #3aafa9;
}
.bg-dgreen {
  background-color: #2b7a77;
}
.bg-black {
  background-color: #17242a;
}
.bg-white {
  background-color: #ffffff;
}

.btn-success {
  background-color: #3aafa9 !important;
  color: #ffffff !important;
}
.btn-success:hover {
  background-color: #2b7a77 !important;
  color: #def2f1 !important;
}
.btn-success:active {
  background-color: #2b7a77 !important;
  color: #def2f1 !important;
}

.btn-primary {
  background-color: #def2f1 !important;
  border: 1px solid #def2f1 !important;
  color: #2b7a77 !important;
}
.btn-primary:hover {
  background-color: #def2f1 !important;
  border: 1px solid #def2f1 !important;
  color: #3aafa9 !important;
}
.btn-primary:active {
  background-color: #def2f1 !important;
  border: 1px solid #def2f1 !important;
  color: #3aafa9 !important;
}

.lead {
  color: #2b7a77;
}

.list-group-item {
  background-color: #ffffff !important;
  color: #2b7a77 !important;
}
.list-group-item:hover {
  background-color: #def2f1 !important;
  color: #3aafa9 !important;
}
.list-group-item:active {
  background-color: #def2f1 !important;
  color: #3aafa9 !important;
}
.act {
  background-color: #def2f1 !important;
  color: #3aafa9 !important;
}

.col-md-9 .card img {
  background-size: cover;
  height: 100%;
}
